.center-content {
    width: 100%;
    display: flex;
    justify-content: center;
}

.center-content h1 {
    font-size: 1.4rem;
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
}